* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #000;
  font: 400 15px/25px "Helvetica Neue", "Arial", sans-serif;
  height: 100%;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100ex;
  min-height: 100%;
  padding-bottom: 75px;
  position: relative;
}

h1, h2, h3, h4, header, footer, .all, .meta {
  cursor: default;
  font-size: inherit;
}

pre {
  font-family: "Menlo", "Consolas", monospace;
  font-size: 13px;
}

h1 {
  margin: 0 0 25px;
  font-size: 25px;
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
  margin-top: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  display: run-in;
  font-weight: 500;
  margin-right: 10px;
  text-transform: uppercase;
}

dl, p, ul {
  margin: 25px 0;
}

ul {
  list-style: none;
}

a {
  /* color: hsl(120, 90%, 30%); */
  color: #089108;
  text-decoration: none;
}

a:hover {
  /* color: hsl(0, 0%, 30%); */
  color: #4d4d4d;
}

header {
  height: 25px;
  padding: 25px;
}

  header p {
    display: inline-block;
    margin: 0;
  }

section {
  padding: 25px;
}

footer {
  bottom: 0;
  color: #666;
  font-size: 13px;
  left: 0;
  padding: 25px;
  position: absolute;
  right: 0;
}

  footer p:last-child { margin: 0; }

    footer p a {
      color: inherit;
    }

    footer p a:hover {
    }

strike {
}

code, pre code::before {
  /* background-color: hsl(0, 0%, 95%); */
  background-color: #f2f2f2;
}

pre {
  white-space: pre-wrap;
}

  pre code {
    display: block;
    line-height: 20px;
    margin: 0 -25px;
    padding: 25px;
    position: relative;
  }

  pre code::before {
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
  }

q::before {
  content: "“";
}

q::after {
  content: "”";
}

.posts > li {
  margin-bottom: 25px;
}

  .posts h2 {
    font-weight: 500;
    margin: 0;
  }

  .posts p {
    margin: 0;
  }

.tags {
  font-size: 11px;
  margin: 0;
}

  .tags li {
    display: inline;
    margin-right: 10px;
  }

    .tags a {
      background: #e6e6e6;
      border-radius: 3px;
      color: #999;
      padding: 2px 5px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .tags a:hover {
      background: #4d4d4d;
      color: #fff;
    }

.all {
  text-align: right;
}

  .all a {
    border: 1px solid #089108;
    border-radius: 3px;
    padding: 3px 7px;
  }

  .all a:hover {
    background: #089108;
    color: #fff;
  }

article {
  margin-bottom: 100px;
}

  article ul li {
    margin: 0 0 10px 20px;
  }

  article ul li::before {
    content: "\25CF\20";
    display: block;
    margin-left: -20px;
    position: absolute;
  }

.meta {
  color: #666;
  font-size: 13px;
  margin-top: 50px;
}

.updated {
  font-weight: 500;
  text-transform: uppercase;
}

/* Generated by Pandoc */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}

td.lineNumbers {
  border-right: 1px solid #aaaaaa;
  text-align: right;
  color: #aaaaaa;
  padding-right: 5px;
  padding-left: 5px;
}

td.sourceCode {
  padding-left: 5px;
}

.kw {
  color: #312cff;
  font-weight: 600;
}

.dt {
  color: #ba00aa;
}

.dv {
  color: #18b400;
}

.bn {
  color: #40a070;
}

.fl {
  color: #40a070;
}

.ch {
  color: #4070a0;
}

.st {
  color: #004dac;
}

.co {
  color: #02b0ad;
  font-style: italic;
}

.ot {
  color: #004dac;
}

.al {
  color: #ff0045;
  font-weight: 600;
}

.fu {
  color: #004dac;
  font-weight: 600;
}

.re {
}

.er {
  color: #ff0045;
  font-weight: 600;
}
