@font-face {
  font-family: "Alix FB";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/alix-fb-regular.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/alix-fb-bold.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/alix-fb-italic.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/alix-fb-bold-italic.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/harriet-text-regular.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/harriet-text-regular-italic.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/harriet-text-medium.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/harriet-text-medium-italic.woff") format("woff");
}

/*
@font-face {
  font-family: "Harriet Text";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/harriet-text-bold.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/harriet-text-bold-italic.woff") format("woff");
}
*/

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/whitney-book.woff") format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/whitney-bold.woff") format("woff");
}

@font-face {
  font-family: "Whitney SC";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/whitney-medium-sc.woff") format("woff");
}

/* Special stuff */
.posts a {
  color: inherit;
  display: block;
}

.desc {
  display: block;
}

.posts a:hover strong {
  color: inherit;
}

article .meta {
  color: #666;
  font-size: 20px;
  margin-top: 70px;
}

  .meta a {
    color: #666;
  }

.all {
  text-align: right;
}

  .all a::after {
    color: #093;
    content: "\20\2192";
  }

/* General stuff */
* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #000;
  font: 400 25px/35px "Harriet Text", serif;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 35em;
  min-height: 100%;
  padding-bottom: 90px;
  position: relative;
}

h1, h2, h3, header, footer, .all {
  font-family: "Whitney", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Whitney SC", sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
}

dl, ol, p, ul {
/*
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
*/
  margin: 25px 0;
}

li {
  list-style: none;
  margin: 0 0 15px 35px;
  position: relative;
}

li::before {
  left: -35px;
  position: absolute;
  top: 0;
}

ul li::before {
  content: "\2022";
}

ol {
  counter-reset: item;
}

ol li:before {
  content: counter(item) ".";
  counter-increment: item;
}

a, .posts strong {
  color: #093;
  text-decoration: none;
}

a:hover {
  color: #000;
}

strong {
  font-weight: 500;
}

/* Sectioning stuff */
header {
  font-size: 20px;
  padding: 35px;
}

  header p {
    margin: 0;
  }

    header a {
      color: #666;
    }

section {
  padding: 35px;
}

footer {
  bottom: 0;
  color: #999;
  font-size: 20px;
  left: 0;
  padding: 35px;
  position: absolute;
  right: 0;
}

  footer p {
    margin: 0;
  }

    footer a {
      color: inherit;
    }

/* Code stuff */
code {
  font-family: "Alix FB", monospace;
}

pre {
  margin-right: -35px;
  white-space: pre-wrap;
}

/* Article stuff */
article {
}

  article h2 {
    margin-top: 50px;
  }

/* Generated by Pandoc */
/*
table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}

td.lineNumbers {
  border-right: 1px solid #aaaaaa;
  text-align: right;
  color: #aaaaaa;
  padding-right: 5px;
  padding-left: 5px;
}

td.sourceCode {
  padding-left: 5px;
}
*/

.kw /* Keyword */ {
  color: #5c11a6;
  font-weight: 600;
}

.dt /* Data type */ {
  color: #a6295d;
}

.dv /* Decimal value */,
.bn /* Base other-than-ten */,
.fl /* Float */ {
  color: #14ccba;
}

.ch /* Char */ {
  color: #990400;
}

.st /* String */ {
  color: #990400;
}

.co /* Comment */ {
  -moz-font-feature-settings: "ss01";
  -ms-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  color: #666;
  font-style: italic;
}

.ot /* Other token */ {
  color: #004c19;
}

.al /* Alert (warning messages) */,
.er /* Error token */ {
  color: #e58f0b;
  font-weight: 600;
}

.fu /* Function */ {
  color: #093;
  font-weight: 600;
}

.re /* Region marker */ {
  /* What is that even */
}
