@media all and (min-device-width: 480px) {
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SourceSansPro-Regular-webfont.eot");
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
         url("../fonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceSansPro-Bold-webfont.eot");
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
         url("../fonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/SourceSansPro-It-webfont.eot");
    src: local("Source Sans Pro Italic"), local("SourceSansPro-It"),
         url("../fonts/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-It-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-It-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-It-webfont.svg#SourceSansProIt") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/SourceSansPro-BoldIt-webfont.eot");
    src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"),
         url("../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-BoldIt-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-BoldIt-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldIt") format("svg");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SourceCodePro-Regular-webfont.eot");
    src: local("Source Code Pro"), local("SourceCodePro-Regular"),
         url("../fonts/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceCodePro-Regular-webfont.woff") format("woff"),
         url("../fonts/SourceCodePro-Regular-webfont.ttf") format("truetype"),
         url("../fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular") format("svg");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceCodePro-Bold-webfont.eot");
    src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
         url("../fonts/SourceCodePro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceCodePro-Bold-webfont.woff") format("woff"),
         url("../fonts/SourceCodePro-Bold-webfont.ttf") format("truetype"),
         url("../fonts/SourceCodePro-Bold-webfont.svg#SourceCodeProBold") format("svg");
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(0, 0, 95%);
  color: hsl(0, 0%, 40%);
  font: 400 16px/25px "Source Sans Pro", "Lucida Grande", "Arial", sans-serif;
  height: 100%;
}

body {
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: -webkit-box;
  display: box;
  margin: 0 auto;
  max-width: 42em;
  min-height: 100%;
}

h1, h2, h3, h4, header {
  color: hsl(0, 0%, 30%);
  cursor: default;
  font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 24px;
  margin: 0 0 25px;
}
  h1 a { color: inherit; }
  h1 a:hover {
    color: hsl(0, 0%, 40%);
  }

h2 {
  font-size: 20px;
}

* + h2 {
  margin-top: 50px;
}

h3 {
  font-size: 18px;
  margin-top: 35px;
}

dl, p, ul {
  margin: 25px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: hsl(240, 30%, 50%);
  text-decoration: none;
}

a:hover {
  color: hsl(0, 0%, 30%);
}

header {
  padding: 25px;
}
  header p {
    display: inline-block;
    font-family: "Source Code Pro", "Menlo", monospace;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
  }
    header p a {
      color: hsl(0, 0%, 40%);
      display: block;
    }
    header p a:hover {
      color: hsl(0, 0%, 40%);
    }
      header p span {
        display: inline-block;
        font-weight: 400;
        margin-left: 1ex;
        -moz-transition: color 200ms, margin 200ms;
        -ms-transition: color 200ms, margin 200ms;
        -o-transition: color 200ms, margin 200ms;
        -webkit-transition: color 200ms, margin 200ms;
        transition: color 200ms, margin 200ms;
      }
      header p a:hover span {
        margin-left: 0;
      }
      header p span:last-child {
        color: hsla(0, 0%, 40%, 0);
      }
      header p a:hover span:last-child {
        color: hsla(0, 0%, 40%, .5);
      }

section {
  padding: 25px;
}
section:last-of-type {
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}

footer {
  color: hsl(0, 0%, 60%);
  font-size: 14px;
  padding: 40px 25px 25px;
}
  footer p:last-child { margin: 0; }
    footer p a {
      color: inherit;
    }
    footer p a:hover {
      color: hsl(0, 0%, 40%);
    }

code {
  background: hsla(0, 0%, 0%, 0.075);
  font-family: "Source Code Pro", "Menlo", monospace;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
}
  pre code {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    line-height: 20px;
    margin: 0 -25px;
    padding: 25px;
    position: relative;
  }
  pre code::before {
    background: hsla(0, 0%, 0%, 0.075);
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
  }

q::before {
  content: "“";
}
q::after {
  content: "”";
}

.current a {
  background: none;
  color: hsl(0, 0%, 10%);
  cursor: default;
}

ul.posts > li {
  margin-bottom: 25px;
}
  ul.posts h2 {
    margin: 0;
  }
  ul.posts p {
    margin: 0;
  }

article {
  margin-bottom: 100px;
}
  article ul li {
    margin: 0 0 5px 20px;
  }
  article ul li::before {
    content: "\2022\20";
    display: block;
    margin-left: -20px;
    position: absolute;
  }

time { text-transform: lowercase; }

p.meta {
  color: hsl(0, 0%, 50%);
  font-size: 14px;
  margin-top: 50px;
}
  p.meta a {
    color: inherit;
  }
  p.meta a:hover {
    color: hsl(0, 0%, 40%);
  }
  p.meta a[href^="/tag"]::before {
    color: hsl(0, 0%, 60%);
    content: "#";
    font-family: "Source Code Pro", "Menlo", monospace;
  }

.updated {
  color: hsl(0, 0%, 30%);
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Generated by Pandoc */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}
td.lineNumbers {
  border-right: 1px solid #AAAAAA;
  text-align: right;
  color: #AAAAAA;
  padding-right: 5px;
  padding-left: 5px;
}
td.sourceCode {
  padding-left: 5px;
}
code span.kw {
  color: hsl(210, 80%, 40%);
  font-weight: 600;
}
code span.dt {
  color: hsl(300, 60%, 40%);
}
code span.dv {
  color: #40a070;
}
code span.bn {
  color: #40a070;
}
code span.fl {
  color: #40a070;
}
code span.ch {
  color: #4070a0;
}
code span.st {
  color: #4070a0;
}
code span.co {
  color: #60a0b0;
  font-style: italic;
}
code span.ot {
  color: hsl(0, 0%, 60%);
}
code span.al {
  color: red;
  font-weight: 600;
}
code span.fu {
  color: hsl(0, 0%, 40%);
  font-weight: 600;
}
code span.re {
}
code span.er {
  color: red;
  font-weight: 600;
}
