@media all and (min-device-width: 480px) {
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SourceSansPro-Regular-webfont.eot");
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
         url("../fonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceSansPro-Bold-webfont.eot");
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
         url("../fonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/SourceSansPro-It-webfont.eot");
    src: local("Source Sans Pro Italic"), local("SourceSansPro-It"),
         url("../fonts/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-It-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-It-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-It-webfont.svg#SourceSansProIt") format("svg");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/SourceSansPro-BoldIt-webfont.eot");
    src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"),
         url("../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceSansPro-BoldIt-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro-BoldIt-webfont.ttf") format("truetype"),
         url("../fonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldIt") format("svg");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SourceCodePro-Regular-webfont.eot");
    src: local("Source Code Pro"), local("SourceCodePro-Regular"),
         url("../fonts/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceCodePro-Regular-webfont.woff") format("woff"),
         url("../fonts/SourceCodePro-Regular-webfont.ttf") format("truetype"),
         url("../fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular") format("svg");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceCodePro-Bold-webfont.eot");
    src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
         url("../fonts/SourceCodePro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SourceCodePro-Bold-webfont.woff") format("woff"),
         url("../fonts/SourceCodePro-Bold-webfont.ttf") format("truetype"),
         url("../fonts/SourceCodePro-Bold-webfont.svg#SourceCodeProBold") format("svg");
  }
}

* {
  margin: 0;
  padding: 0;
}

html, h1, h2, h3, h4, .co {
  font-family: "Source Sans Pro", "Lucida Grande", "Arial", sans-serif;;
}

html {
  background-color: hsl(0, 0, 95%);
  color: hsl(0, 0%, 40%);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 42em;
  min-height: 100%;
  padding-bottom: 75px;
  position: relative;
}

h1, h2, h3, h4, header {
  color: hsl(0, 0%, 30%);
  cursor: default;
  font-weight: 600;
}

header p, code, a[href^="/tag"]::before {
  font-family: "Source Code Pro", "Menlo", monospace;
}

h1 {
  font-size: 25px;
  margin: 0 0 25px;
}
  h1 a { color: inherit; }
  h1 a:hover {
    color: hsl(0, 0%, 40%);
  }

h2 {
  font-size: 21px;
}

* + h2, h3 {
  margin-top: 50px;
}

h3 {
  font-size: 19px;
}

dl, p, ul {
  margin: 25px 0;
}

ul {
  list-style: none;
}

a {
  color: hsl(240, 30%, 50%);
  text-decoration: none;
}

a:hover {
  color: hsl(0, 0%, 30%);
}

header {
  height: 25px;
  padding: 25px;
}
  header p {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
  }
    header p a {
      color: hsl(0, 0%, 40%);
      display: block;
    }
    header p a:hover {
      color: hsl(0, 0%, 40%);
    }
      header p span {
        display: inline-block;
        margin-left: 1ex;
        -moz-transition: color 200ms, margin 200ms;
        -ms-transition: color 200ms, margin 200ms;
        -o-transition: color 200ms, margin 200ms;
        -webkit-transition: color 200ms, margin 200ms;
        transition: color 200ms, margin 200ms;
      }
      header p a:hover span {
        margin-left: 0;
      }
      header p span:last-child {
        color: hsla(0, 0%, 40%, 0);
      }
      header p a:hover span:last-child {
        color: hsla(0, 0%, 40%, 1);
      }

section {
  padding: 25px;
}

footer {
  bottom: 0;
  color: hsl(0, 0%, 60%);
  font-size: 13px;
  left: 0;
  padding: 25px;
  position: absolute;
  right: 0;
}
  footer p:last-child { margin: 0; }
    footer p a {
      color: inherit;
    }
    footer p a:hover {
      color: hsl(0, 0%, 40%);
    }

code {
  background: hsla(0, 0%, 0%, 0.075);
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
}
  pre code {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    line-height: 20px;
    margin: 0 -25px;
    padding: 25px;
    position: relative;
  }
  pre code::before {
    background: hsla(0, 0%, 0%, 0.075);
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
  }

q::before {
  content: "“";
}
q::after {
  content: "”";
}

.current a {
  background: none;
  color: hsl(0, 0%, 10%);
  cursor: default;
}

ul.posts > li {
  margin-bottom: 25px;
}
  ul.posts h2 {
    margin: 0;
  }
  ul.posts p {
    margin: 0;
  }

article {
  margin-bottom: 100px;
}
  article ul li {
    margin: 0 0 5px 20px;
  }
  article ul li::before {
    content: "\2022\20";
    display: block;
    margin-left: -20px;
    position: absolute;
  }

p.meta {
  color: hsl(0, 0%, 50%);
  font-size: 14px;
  margin-top: 50px;
}
  p.meta a {
    color: inherit;
  }
  p.meta a:hover {
    color: hsl(0, 0%, 40%);
  }
  p.meta a[href^="/tag"]::before {
    color: hsl(0, 0%, 60%);
    content: "#";
  }

.updated {
  color: hsl(106, 40%, 30%);
  font-weight: 700;
}

/* Generated by Pandoc */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}
td.lineNumbers {
  border-right: 1px solid #AAAAAA;
  text-align: right;
  color: #AAAAAA;
  padding-right: 5px;
  padding-left: 5px;
}
td.sourceCode {
  padding-left: 5px;
}
.kw {
  color: hsl(210, 80%, 40%);
  font-weight: 600;
}
.dt {
  color: hsl(300, 60%, 40%);
}
.dv {
  color: #40a070;
}
.bn {
  color: #40a070;
}
.fl {
  color: #40a070;
}
.ch {
  color: #4070a0;
}
.st {
  color: #4070a0;
}
.co {
  color: #60a0b0;
  font-size: 15px;
  font-style: italic;
}
.ot {
  color: hsl(0, 0%, 60%);
}
.al {
  color: red;
  font-weight: 600;
}
.fu {
  color: hsl(0, 0%, 40%);
  font-weight: 600;
}
.re {
}
.er {
  color: red;
  font-weight: 600;
}
