form {
  font-size: 16px;
  text-align: right;
}

button,
input,
textarea {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
}

textarea {
  border: 1px solid #a9a9a9;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 78px;
  margin: 16px 0;
  padding: 3px 7px;
  resize: none;
  width: 100%;
}

textarea:focus {
  border-color: #666;
  outline: none;
}

button {
  background: #990400;
  border: none;
  color: #fff;
  padding: 4px 12px;
}

button:focus {
  outline: none;
  background: #666;
}

button::-moz-focus-inner {
  border: none;
}

output {
  display: inline-block;
  text-align: left;
  width: 3em;
}