/*
@font-face {
  font-family: "Alix FB";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/alixfb-regular.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/alixfb-bold.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/alixfb-italic.woff") format("woff");
}

@font-face {
  font-family: "Alix FB";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/alixfb-bolditalic.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/harriettext-regular.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/harriettext-regularitalic.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/harriettext-medium.woff") format("woff");
}

@font-face {
  font-family: "Harriet Text";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/harriettext-mediumitalic.woff") format("woff");
}
*/

@font-face {
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("//themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff") format("woff");
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url("//themes.googleusercontent.com/static/fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoM_bce-VcyLJMRR1FC9qWbU8.woff") format("woff");
}

@font-face {
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("//themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff") format("woff");
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url("//themes.googleusercontent.com/static/fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6J4LxuTxC3JbLqy8IUt0K1T3rGVtsTkPsbDajuO5ueQw.woff") format("woff");
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("//themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff") format("woff");
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: local("Source Code Pro Semibold"), local("SourceCodePro-Semibold"), url("//themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff") format("woff");
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
}

.desc {
  color: #000;
}

.meta {
  color: #666;
  display: block;
  font-size: 18px;
}

  .meta a {
    color: #666;
  }

.all {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #000;
  font: 400 24px/32px "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  /*
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  */
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 896px;
  min-height: 100%;
  padding-bottom: 104px;
  position: relative;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 48px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

dl,
ol,
p,
pre,
ul {
  margin: 24px 0;
}

dd,
li {
  list-style: none;
  margin: 0 0 18px 36px;
  position: relative;
}

li::before {
  left: -36px;
  position: absolute;
  top: 0;
}

ul li::before {
  content: "\2022";
}

ol {
  counter-reset: item;
}

ol li::before {
  content: counter(item) ".";
  counter-increment: item;
}

dd p:first-child {
  margin-top: 0;
}

a {
  color: #005598;
  text-decoration: none;
}

a:hover {
  color: #000;
}

dt,
strong {
  font-weight: 600;
}

code {
  font-family: "Source Code Pro", monospace;
}

pre {
  white-space: pre-wrap;
}

header {
  font-size: 18px;
}

  header p {
    color: #666;
    margin: 0;
    text-transform: lowercase;
  }

    header a {
      color: #666;
    }

footer {
  bottom: 0;
  color: #999;
  font-size: 18px;
  left: 0;
  position: absolute;
  right: 0;
}

  footer p {
    margin: 0;
  }

    footer a {
      color: inherit;
    }

footer,
header,
section {
  padding: 36px;
}

article {
}

  article h2,
  article .meta {
    margin-top: 56px;
  }

/* Generated by Pandoc */
/*
table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}

td.lineNumbers {
  border-right: 1px solid #aaaaaa;
  text-align: right;
  color: #aaaaaa;
  padding-right: 5px;
  padding-left: 5px;
}

td.sourceCode {
  padding-left: 5px;
}
*/

.kw /* Keyword */ {
  color: #5c11a6;
  font-weight: 600;
}

.dt /* Data type */ {
  color: #a6295d;
}

.dv /* Decimal value */,
.bn /* Base other-than-ten */,
.fl /* Float */ {
  color: #14ccba;
}

.ch /* Char */ {
  color: #990400;
}

.st /* String */ {
  color: #990400;
}

.co /* Comment */ {
  color: #666;
}

.ot /* Other token */ {
  color: #004c19;
}

.al /* Alert (warning messages) */,
.er /* Error token */ {
  color: #e58f0b;
  font-weight: 600;
}

.fu /* Function */ {
  color: #093;
  font-weight: 600;
}

.re /* Region marker */ {
  /* What is that even */
}
