<!--UNCOMPRESSED-->

<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1,user-scalable=0,width=device-width">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
<title>$title$</title>

<style>
  $partial("css/site.css")$
</style>

<header>
  <p>
    <a href="/">jonaswesterlund.se</a>
    is part of the <a href="https://miketaylr.com/posts/">Mike Taylr Dot Com Web-Ring</a>
  </p>
</header>

$body$

<footer>
  <p>
    <a href="https://creativecommons.org/licenses/by/3.0/">CC BY</a> Jonas Westerlund—<a href="https://github.com/nlogax/home">source code available on GitHub</a>
  </p>
</footer>

<script>
  $partial("js/site.js")$
</script>
