<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="alternate" type="application/rss+xml" title="Jonas Westerlund’s blog" href="/rss.xml">
    <script src="/js/site.js" defer></script>
    <title>$title$ — Jonas Westerlund</title>
  </head>
  <body>
    <header>
      <h1 style="position:absolute;top:-100%">Goobagangus</h1>
      <p>
        <a href="/index.html">jonas<span>westerlund</span><span>.se</span></a>
      </p>
    </header>
    $body$
    <footer>
      <p><a href="http://creativecommons.org/licenses/by/3.0/">CC BY</a> Jonas Westerlund — <a href="https://github.com/nlogax/home">source code available here</a></p>
    </footer>
  </body>
</html>
